body {
  text-align: center;
}

.adv-card {
  text-align: left;
  border: 2px solid gray;
  border-radius: 12px;
  width: 400px;
  padding: 8px;
  background-color: lightgray;
}

.adv-card p:not(:first-child) {
  margin-top: -8px;
}

.adv-card p:first-child {
  margin-top: 8px;
}

.adv-card-name,
.adv-card-feature-title {
  font-size: 1.25rem;
}

.adv-card-stats {
  background-color: whitesmoke;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding-left: 8px;
}

.adv-card-experiences {
  border-top: 1px dashed gray;
  padding-top: 8px;
}

.adv-card-feature-title {
  padding-top: 16px;
  margin-bottom: 0px;
}

.type-selectors,
.tier-selectors {
  display: flex;
  justify-content: center;
  gap: 8px;
  user-select: none;
}

.sel-div {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  background-color: lightgray;
  width: 65px;
}

.sel-div-active {
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
}

#adv-display {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
